@{
    ViewData["Title"] = "Books Page";
}
@model BooksViewModel
<h1>Bookstore</h1>

@foreach (Books b in Model.Books)
{

    <!--Here is a card for each books that shows the books attributes-->
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>@b.Title</h4>
            <h5>
                Author: @b.Author
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@b.Price.ToString("c")</small>
                </span>
            </h5>
        </div>
        <div class="card-text p-1">Publisher: @b.Publisher <br />ISBN: @b.Isbn <br />Category: @b.Category <br />Page Count: @b.PageCount</div>
    </div>
}

<!--This show the page numbers at the bottom and helps to show the user which page he/she is on-->
<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
